@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
    font-family: 'NotoSansCJKkr-Thin';    
    font-style: normal;
    src: url('./fonts/NotoSansCJKkr-Thin.eot');
    src: url('./fonts/NotoSansCJKkr-Thin.eot') format('embedded-opentype'),
        url('./fonts/NotoSansCJKkr-Thin.woff') format('woff'),
        url('./fonts/NotoSansCJKkr-Thin.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSansCJKkr-Light';
    font-style: normal;
    src: url('./fonts/NotoSansCJKkr-Light.eot');
    src: url('./fonts/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
        url('./fonts/NotoSansCJKkr-Light.woff') format('woff'),
        url('./fonts/NotoSansCJKkr-Light.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-style: normal;
    src: url('./fonts/NotoSansCJKkr-DemiLight.eot');
    src: url('./fonts/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
        url('./fonts/NotoSansCJKkr-DemiLight.woff') format('woff'),
        url('./fonts/NotoSansCJKkr-DemiLight.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url('./fonts/NotoSansCJKkr-Regular.eot');
    src: url('./fonts/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
        url('./fonts/NotoSansCJKkr-Regular.woff') format('woff'),
        url('./fonts/NotoSansCJKkr-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSansCJKkr-Medium';
    src: url('./fonts/NotoSansCJKkr-Medium.eot');
    src: url('./fonts/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
        url('./fonts/NotoSansCJKkr-Medium.woff') format('woff'),
        url('./fonts/NotoSansCJKkr-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSansCJKkr-Black';
    src: url('/fonts/NotoSansCJKkr-Black.eot');
    src: url('/fonts/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
        url('/fonts/NotoSansCJKkr-Black.woff') format('woff'),
        url('/fonts/NotoSansCJKkr-Black.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSansCJKkr-Bold';
    font-style: Bold;

    src: url('./fonts/NotoSansCJKkr-Bold.eot');
    src: url('./fonts/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
        url('./fonts/NotoSansCJKkr-Bold.woff') format('woff'),
        url('./fonts/NotoSansCJKkr-Bold.otf') format('truetype');
}
// @font-face {
//     font-family: 'Lato-Medium';
//     src: url('./fonts/Lato-Medium.woff') format('woff');
// }
// @font-face {
//     font-family: 'LatoBlackItalic';
//     src: url('./fonts/Lato-BlackItalic.woff');
// }
// @font-face {
//     font-family: 'Lato-Bold';
//     src: url('./fonts/Lato-Bold.woff');
// }
// @font-face {
//     font-family: 'LatoRegular';
//     src: url('./fonts/Lato-Regular.woff');
// }
// @font-face {
//     font-family: 'LatoLight';
//     src: url('./fonts/Lato-Light.woff');
// }
@font-face {
    font-family: 'Lato-Hairline';
    src: url('./fonts/Lato-Hairline.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand_Book';
    font-weight: 400;
    src: url('./fonts/Quicksand_Book.otf') format('truetype');
}

@font-face {
    font-family: 'Quicksand_Light';
    font-weight: 200;
        font-style: normal;
    src: url('./fonts/Quicksand_Light.otf') format('truetype');
}

@font-face {
    font-family: 'Quicksand_Dash';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/Quicksand_Dash.otf') format('truetype');
}

@font-face {
    font-family: 'Quicksand_Bold';
    font-style: Bold;
    src: url('./fonts/Quicksand_Bold.otf') format('truetype');
}


// @font-face {
//     font-family: 'Nanum-Bold';
//     src: url('./fonts/NANUMSQUAREB.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Nanum-Light';
//         font-style: normal;
//     src: url('./fonts/NANUMSQUAREL.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Nanum-Regular';
//     font-style: normal;
//     src: url('./fonts/NANUMSQUARER.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Nanum-Demilight';
//     font-style: Bold;
//     src: url('./fonts/NANUMSQUAREEB.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'NanumMyeongjo-Regular';
//     font-style: Bold;
//     src: url('./fonts/NanumMyeongjo.ttf') format('truetype');
// }