@import "../common/assets/variable.scss";
.MuiPaper-root {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.MuiListItem-button {
  text-align: center !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
.MuiDivider-root {
  width: 70px;
  margin: 0 auto !important;
}
#nav-icon0 {
  width: 30px;
  height: 35px;
  position: fixed;
  right: 30px;
  z-index: 9999;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */

#nav-icon0 {
}

#nav-icon0 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon0 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon0 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon0 span:nth-child(1),
#nav-icon0 span:nth-child(2) {
  top: 0px;
}

#nav-icon0 span:nth-child(3),
#nav-icon0 span:nth-child(4) {
  top: 10px;
}

#nav-icon0 span:nth-child(5),
#nav-icon0 span:nth-child(6) {
  top: 20px;
}

#nav-icon0.open span:nth-child(1),
#nav-icon0.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon0.open span:nth-child(2),
#nav-icon0.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon0.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

#nav-icon0.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-icon0.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon0.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon0.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

#nav-icon0.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}
.drawerText {
  padding: 20px;
  span {
    font-size: $drawer-fontsize;
    letter-spacing: -1px;
    font-family: $drawer-family;
    color: $drawer-color !important;
    font-weight: $drawer-weight;
    background: none !important;
    &:hover {
      color: #c30d23 !important;
    }
  }
}
.drawerTextsub {
  span {
    font-size: $drawersub-fontsize;
    letter-spacing: -1px;
    font-family: $drawersub-family;
    color: $drawersub-color !important;
    font-weight: $drawer-weight;
    background: none !important;
    text-transform: uppercase;
    &:hover {
      color: #c30d23 !important;
    }
  }
}
.mMar {
  position: relative;
  bottom: 0;
  display: grid;
  justify-content: center;
  margin: 100px 0 40px;
  .terms_area {
    text-align: left;
    p {
      text-align: left;
      font-family: "NotoSansCJKkr-Light";
      font-size: 12px;
      color: #333333;
      line-height: 1;
      margin-bottom: 10px;
    }
  }
  .company_info {
    text-align: left;
    font-family: "NotoSansCJKkr-Light";
    font-size: 12px;
    color: #333333;
    line-height: 1;
    margin-bottom: 10px;
  }
  .sns {
    margin-bottom: 10px;
    a {
      /*583*/
      font-size: 12px;
      font-family: "NotoSansCJKkr-Light";
      color: #333333;
    }
    span {
      padding: 0 7px 0 7px;
    }
  }
}
