@import '../../../App.scss';
.header-main{
    margin:10px;
    .h-flag {
        span {
            img{
              width: 25px;
              /* padding: 15px; */
              margin: 5px;
              border: 1px solid #ddd;
              box-sizing: border-box;
              cursor: pointer;
            }
          }
      }
    .h-logo{
        margin: 100px 0;
        display: flex;
        justify-content: center;
        img{
            cursor: pointer;
        }
    }

}
.s-container{
    display: flex;
    flex: 1 1;
    width: 100%;
    flex-direction: row;
   
    .s-right-top{
        margin-top: 70px;
        border-left: 1px solid #ddd;
        max-width: 985px;
        margin: 70px auto 0 339px;
        .vertical-line{
            text-align: center;
            padding: 40px 0;
        }
    }
    .s-fixebar{
        position: fixed;
    }
}
.MuiContainer-maxWidthLg {
    @include desktop{
    max-width: 1495px !important;
    padding: 0 !important;
    }
}
