@import '../../../App.scss';
.header-main{
    .h-flag {
        span {
            img{
              width: 25px;
              /* padding: 15px; */
              margin: 5px;
              border: 1px solid #ddd;
              box-sizing: border-box;
              cursor: pointer;
            }
          }
      }
    .h-logo{
        margin: 100px 0;
        display: flex;
        justify-content: center;
        img{
            cursor: pointer;
        }
    }
    h1{
        position: absolute;
    }
    p{
        position: absolute;
        top: 167px;
        padding: 20px;
    }

}
.s-container{
    display: flex;
    flex: 1 1;
    width: 100%;
    flex-direction: row;
   
    .s-right-top{
        margin-top: 70px;
        // border-left: 1px solid #ddd;
        max-width: 985px;
        margin: 70px auto 0 374px;
        .vertical-line{
            text-align: center;
            padding: 40px 0;
        }
    }
    .s-fixebar{
        position: fixed;
        bottom: 0;
        top: 0;
        background:$sidebar-background
    }
}
.MuiContainer-maxWidthLg {
    @include desktop{
    max-width: 1495px !important;
    padding: 0 !important;
    }
}
.MuiFormControl-root {
    justify-content: center;
}
.MuiFormControl-marginNormal {
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
}
.formrow{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $formborder;
    .formlabel{
        width: 200px;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span{
        padding: 20px 10px;
        align-items: center;
        justify-content: center;
    }
}
.MuiOutlinedInput-input {
    padding: 6.5px 14px !important;
}
.para{
    background-color: #fff;
    padding: 30px 10px;
    height: 330px;
    overflow: auto;
    margin-top: 30px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.checkbtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
