@import '../../../App.scss';
.header-main{
    .h-flag {
        span {
            img{
              width: 25px;
              /* padding: 15px; */
              margin: 5px;
              border: 1px solid #ddd;
              box-sizing: border-box;
              cursor: pointer;
            }
          }
      }
    .h-logo{
        margin: 100px 0;
        display: flex;
        justify-content: center;
        img{
            cursor: pointer;
        }
    }
    h1{
        position: absolute;
    }
    p{
        position: absolute;
        top: 167px;
        padding: 20px;
    }

}
.s-container{
    display: flex;
    flex: 1 1;
    width: 100%;
    flex-direction: row;
   
    .s-right-top{
        margin-top: 70px;
        // border-left: 1px solid #ddd;
        max-width: 985px;
        margin: 70px auto 0 374px;
        .vertical-line{
            text-align: center;
            padding: 40px 0;
        }
    }
    .s-fixebar{
        position: fixed;
        bottom: 0;
        top: 0;
        background:$sidebar-background
    }
}
.MuiContainer-maxWidthLg {
    @include desktop{
    max-width: 1495px !important;
    padding: 0 !important;
    }
}
.MuiFormControl-root {
    justify-content: center;
}
.MuiFormControl-marginNormal {
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
}
.formrow{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $formborder;
    .formlabel{
        width: 200px;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span{
        padding: 20px 10px;
        align-items: center;
        justify-content: center;
    }
}
.MuiOutlinedInput-input {
    padding: 6.5px 14px !important;
}
.para{
    background-color: #fff;
    padding: 30px 10px;
    height: 330px;
    overflow: auto;
    margin-top: 30px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.checkbtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.notice{
    margin-top: 40px;
.pane-vScroll{
    margin-top: 40px;
    table{
        border: 2px solid #e7e7e7;
        margin-bottom: 43px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        th{
            font-family: 'NotoSansCJKkr-Light';
    font-size: 23px;
    color: #363636;
    background: #f5f5f5;
    text-align: center;
    font-weight: normal;;
    border-bottom: none;
    line-height: 1;
    padding-right: 0;
    padding-bottom: 6px;
    width: 100px;
        }
    }
}
.searchBtn {
    display: flex;
    justify-content: flex-end;
    button {
        position: relative;
        background: transparent;
        outline: none;
        border: none;
        padding: 4px 7px;
        right: -235px;
        border-left: 2px solid #e7e7e7;
}
    input {
        width: 235px;
        height: 31px;
        border: 2px solid #e7e7e7;
        border-radius: 5px;
        outline: none;
        padding: 0;
        padding-left: 10px;
        padding-right: 50px;
        font-family: 'NotoSansCJKkr-Regular';
        font-size: 17px;
        color: #e7e7e7;
    }

}
}
.figure-caption {
    text-align: center;
}
.page-item:first-child .page-link {
    text-decoration: underline;
    color: red;
}
.page-link {
    border: none;
    /* border: 1px solid #dee2e6; */
}
.canIhelp{
    text-align: center;
}
